html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

p {
  font-family: D-DIN-Regular;
  line-height: 1.6;
  margin: 15px 0;
}
a:active,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
[role="tabpanel"]:focus {
  outline: 0;
}
a {
  font: 16px/24px D-DIN-Medium, Arial, Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
}
a:active {
  outline: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
}
#navigation-right,
.header-inner {
  -webkit-transition: opacity 0.2s linear 0.1s;
  transition: opacity 0.2s linear 0.1s;
}
#header.is-hidden {
  pointer-events: none;
}
#header.is-hidden #hamburger,
#header.is-hidden #navigation-right,
#header.is-hidden .header-inner {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  background-color: #000;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1)
    0.15s;
  transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.15s;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.15s;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.15s,
    -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.15s;
}
#header.has-background .header-bg {
  -webkit-transform: none;
  transform: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.header-inner {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
}
#navigation,
#navigation-right {
  position: absolute;
  top: 38px;
  height: 30px;
}
#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 100;
}
.swiper-pagination-bullet {
  margin: 0 5px;
  background: #fff !important;
  opacity: 0.5;
}
#logo {
  position: absolute;
  top: 32px;
  left: 50px;
  width: 210px;
  height: auto;
}
#logo img,
#logo svg {
  display: block;
  width: 100%;
  height: auto;
}
#logo .fill-white {
  fill: #fff;
}
#navigation {
  display: inline-block;
  left: 285px;
}
#navigation-right {
  display: inline-block;
  right: 85px;
}
.nav-links {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-links li {
  position: relative;
  display: inline-block;
  margin: 0 12px;
}
.nav-links li a {
  display: block;
  line-height: 1.4;
}
#navigation .nav-links li a:after,
#navigation-right .nav-links li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
#navigation .nav-links li a,
#navigation-right .nav-links li a {
  -webkit-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}
#navigation .nav-links li a:hover,
#navigation-right .nav-links li a:hover {
  color: #fff;
}
#navigation .nav-links li a:focus:after,
#navigation .nav-links li a:hover:after,
#navigation-right .nav-links li a:focus:after,
#navigation-right .nav-links li a:hover:after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.nav-links a {
  position: relative;
  font: 14px/28px D-DIN-Bold, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
#hamburger,
.bar {
  position: absolute;
}
#hamburger {
  display: block;
  top: 50%;
  right: 50px;
  width: 16px;
  height: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 55;
  padding: 0 8px;
  border: 0;
  background: 0 0;
  appeareance: none;
  -webkit-transition: opacity 0.2s linear 0.1s;
  transition: opacity 0.2s linear 0.1s;
}
#hamburger:active,
#hamburger:focus {
  outline: 0;
}
.bar {
  top: 3px;
  left: 0;
  background-color: #fff;
  width: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  height: 2px;
}
#bar2 {
  top: 7px;
}
#bar3 {
  top: 11px;
}
#menu,
#menu-close {
  position: fixed;
  top: 0;
  height: 100%;
}
#menu-close {
  left: 0;
  width: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  display: block;
}
#footer,
.modal-transform {
  background: #000;
}
#menu {
  right: 0;
  width: 0;
  z-index: 12;
}
#menu-background {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  display: block;
  width: 100%;
  height: 120%;
  background-color: #000;
}
#menu-navigation {
  position: absolute;
  top: 75px;
  right: 50px;
  width: 250px;
}
#menu-navigation .nav-links li {
  display: block;
  margin: 0;
  text-align: right;
}
#menu-navigation .nav-links li.primary {
  display: none;
}
#menu-navigation .nav-links a {
  display: block;
  font: 16px/40px D-DIN-Regular, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1pt solid #252525;
}

.scrollme {
  opacity: 0;
}

body.isDesktop #menu-navigation a,
body.isDesktop a {
  -webkit-transition: color 1s cubic-bezier(0.25, 1, 0.25, 1),
    background-color 1s cubic-bezier(0.25, 1, 0.25, 1);
  transition: color 1s cubic-bezier(0.25, 1, 0.25, 1),
    background-color 1s cubic-bezier(0.25, 1, 0.25, 1);
}
body.isDesktop #footer p a:focus,
body.isDesktop #footer p a:hover,
body.isDesktop #menu-navigation a:hover {
  color: #8b939b;
}
@media screen and (max-width: 960px) {
  #positions {
    padding-top: 60px;
  }
  #filter {
    display: block;
  }
  #positions .select {
    display: none;
  }
  .select-container {
    margin-bottom: 20px;
  }
  .select-container {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
  .select-css {
    display: block;
    width: 100%;
  }
  #configurations > a {
    display: block;
    position: relative;
    bottom: auto;
    margin: 50px auto;
  }
  #rideshare #feature .inner-center {
    top: 230px;
    margin-top: 0;
  }
  #home #vehicles,
  #human-spaceflight #vehicles {
    display: none;
  }
  #mobile-vehicles {
    display: block;
  }
  .swiper-timeline-item:after,
  .swiper-timeline-item:before {
    display: none;
  }
  .swiper-timeline {
    height: auto;
  }
  .swiper-timeline-item {
    height: auto;
    width: auto;
    margin: 0 15px;
    opacity: 0.75;
  }
  .swiper-timeline-item span {
    font-size: 15px;
    line-height: 15px;
  }
  #launches .swiper-dots {
    bottom: 25px;
  }
  #launches #gallery-next-use,
  #launches #gallery-prev-use {
    display: none;
  }
  #mission .column {
    width: 70%;
    margin: auto;
  }
  .dragon-tracker-section .key-entry {
    margin-top: 10px;
  }
  .content-center p.left-align-wide {
    max-width: 100%;
  }
  ul.left-list-align-wide {
    display: inline-block;
    max-width: 90%;
    text-align: left;
    margin: 0;
  }
  .section-image-vh {
    display: none;
  }
  .infographic-svg-mobile {
    display: block;
  }
  .only--mobile {
    display: block;
  }
  .only--desktop {
    display: none;
  }
  .infographics-mobile-container {
    display: block;
  }
  .infographics-hovers {
    display: block;
    text-align: left;
    font-size: 0;
  }
  .infographics-hover {
    display: inline-block;
    height: 40px;
    vertical-align: top;
    width: 50%;
    margin-bottom: 20px;
  }
  .infographics-hover > span {
    max-width: 90%;
    font-size: 14px;
    line-height: 16px;
  }
  .infographics-hover > span > span {
    top: -16px;
  }
  .infographic-container {
    padding: 0 20px;
  }
  .infographics-hover p,
  .infographics-hover small {
    display: none;
  }
  .swiper-dots.not-mobile {
    display: none;
  }
  .gallery-next,
  .gallery-prev {
    border-bottom: 1px solid transparent;
  }
  .gallery-next:focus,
  .gallery-prev:focus {
    outline: 0;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid #fff;
  }
  .background-video-contain video {
    position: absolute;
    bottom: 0;
    top: auto;
    left: -25%;
    width: 160%;
    height: auto;
  }
  #controls {
    top: 0;
    bottom: auto;
  }
  #reveal-overview {
    max-width: 100%;
  }
  #modal .modal-inner {
    width: 100%;
  }
  #modal .modal-close {
    top: 18px;
    right: 13px;
  }
  #modal .modal-close,
  #modal .modal-close svg {
    width: 25px;
    height: 25px;
  }
  .small-reveal.slider .gallery-background,
  .small-reveal.slider .reveal-bg,
  .small-reveal.slider .reveal-container {
    height: 600px;
  }
  .reveal-bg,
  .reveal-container {
    height: 600px;
    background-size: cover;
    bottom: 0;
  }
  .desktop-video {
    display: none !important;
  }
  .mobile-video {
    display: inline-block;
  }
  #navigation,
  #navigation-right,
  video:not([data-mobile-video]) {
    display: none;
  }
  body {
    font: 16px/24px Arial, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  video:where([data-content-video]) {
    display: inline-block !important;
  }
  .select {
    margin: 25px 0;
  }
  a.btn,
  p:first-of-type {
    margin-top: 15px;
  }
  #header {
    height: 60px;
  }
  #feature .inner-center {
    -webkit-transform: translate(-50%, -50%) translateY(-30px);
    transform: translate(-50%, -50%) translateY(-30px);
  }
  #logo {
    left: 50%;
    top: 50%;
    width: 150px;
    margin-top: -5px;
    margin-left: 15px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 55;
  }
  .primary {
    display: block;
  }
  #menu-navigation {
    top: 50px;
  }
  #menu-navigation .nav-links li.primary {
    display: block;
  }
  #stats .number {
    font: 72px/72px D-DIN-Medium, Arial, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
  #stats .label {
    font: 12px/24px D-DIN-Medium, Arial, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #footer span {
    display: block;
    margin-bottom: 5px;
  }
  #footer a {
    margin: 0 10px;
  }
  #reveal .section-inner {
    height: 100%;
  }
  #reveal .inner-left-middle {
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    top: 300px;
  }
  #dragon #reveal .inner-left-middle {
    top: 260px;
  }
  .slider .gallery-prev {
    left: auto;
    right: 40px;
  }
  .slider .gallery-next {
    right: 10px;
  }
  .slider[data-arrow-noresize] .gallery-next,
  .slider[data-arrow-noresize] .gallery-prev {
    top: 58px;
  }
  .slider .gallery-background {
    position: relative;
    height: 500px;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
  }
  .slider .gallery-background.gallery-background-svg {
    height: auto;
  }
  .slider .gallery-background.gallery-background-svg svg {
    position: relative;
    display: block;
    height: auto;
    width: 100%;
  }
  #careers .slider .gallery-background,
  #mission .slider .gallery-background {
    height: 330px;
  }
  #careers .slider .gallery-next,
  #careers .slider .gallery-prev {
    top: 289px;
  }
  .background-tab {
    background-position: center;
  }
  .slider .gallery-background video {
    height: 100%;
    width: auto;
  }
  .slider .section-inner {
    height: auto !important;
  }
  .slider .section-inner > div {
    position: relative;
    top: 0;
    left: auto;
    right: auto;
    -webkit-transform: none;
    transform: none;
    padding: 40px 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .section-infographics {
    display: none;
  }
  .mobile-video {
    display: inline-block;
  }
  .section-infographics-mobile {
    display: block;
  }
}
